In [3]:
import numpy as np
import pandas as pd

### convert dictionary to dataframe to dictionary

https://stackoverflow.com/questions/26716616/convert-a-pandas-dataframe-to-a-dictionary

In [1]:
#convert dictionary to a dataframe

justice_league_members = [
    {"superhero": "Aquaman", "real_name": "Arthur Curry"},
    {"superhero": "Batman", "real_name": "Bruce Wayne"},
    {"superhero": "Cyborg", "real_name": "Victor Stone"},
    {"superhero": "Flash", "real_name": "Barry Allen"},
    {"superhero": "Green Lantern", "real_name": "Hal Jordan"},
    {"superhero": "Superman", "real_name": "Clark Kent/Kal-El"},
    {"superhero": "Wonder Woman", "real_name": "Princess Diana"}
]

In [13]:
justice_df = pd.DataFrame(justice_league_members)
justice_df.head()

      real_name      superhero
0  Arthur Curry        Aquaman
1   Bruce Wayne         Batman
2  Victor Stone         Cyborg
3   Barry Allen          Flash
4    Hal Jordan  Green Lantern

In [16]:
#convert dataframe to a dictionary
justice_df.to_dict('dict')

{'real_name': {0: 'Arthur Curry',
  1: 'Bruce Wayne',
  2: 'Victor Stone',
  3: 'Barry Allen',
  4: 'Hal Jordan',
  5: 'Clark Kent/Kal-El',
  6: 'Princess Diana'},
 'superhero': {0: 'Aquaman',
  1: 'Batman',
  2: 'Cyborg',
  3: 'Flash',
  4: 'Green Lantern',
  5: 'Superman',
  6: 'Wonder Woman'}}

In [15]:
justice_df.to_dict('list')

{'real_name': ['Arthur Curry',
  'Bruce Wayne',
  'Victor Stone',
  'Barry Allen',
  'Hal Jordan',
  'Clark Kent/Kal-El',
  'Princess Diana'],
 'superhero': ['Aquaman',
  'Batman',
  'Cyborg',
  'Flash',
  'Green Lantern',
  'Superman',
  'Wonder Woman']}

In [21]:
justice2 = justice_df.to_dict('records')
print(justice2)

[{'real_name': 'Arthur Curry', 'superhero': 'Aquaman'}, {'real_name': 'Bruce Wayne', 'superhero': 'Batman'}, {'real_name': 'Victor Stone', 'superhero': 'Cyborg'}, {'real_name': 'Barry Allen', 'superhero': 'Flash'}, {'real_name': 'Hal Jordan', 'superhero': 'Green Lantern'}, {'real_name': 'Clark Kent/Kal-El', 'superhero': 'Superman'}, {'real_name': 'Princess Diana', 'superhero': 'Wonder Woman'}]

[{'real_name': 'Arthur Curry', 'superhero': 'Aquaman'}, {'real_name': 'Bruce Wayne', 'superhero': 'Batman'}, {'real_name': 'Victor Stone', 'superhero': 'Cyborg'}, {'real_name': 'Barry Allen', 'superhero': 'Flash'}, {'real_name': 'Hal Jordan', 'superhero': 'Green Lantern'}, {'real_name': 'Clark Kent/Kal-El', 'superhero': 'Superman'}, {'real_name': 'Princess Diana', 'superhero': 'Wonder Woman'}]